@page "/bookshelf"
@using MauiPureReader.Data;
@using MauiPureReader.Services;

<MButton OnClick="AddBook">添加</MButton>

<MList>
    @foreach (var item in books ?? Enumerable.Empty<Book>())
    {
        <MListItem Href=@($"/read/{item.Id}")>
            <MListItemContent>
                <MListItemTitle>
                    <span>@item.Id</span>
                    <span>::</span>
                    <span>@item.Title</span>
                </MListItemTitle>
            </MListItemContent>
            <MListItemAvatar>
                <MProgressCircular Value="@item.FormatProgress()" Size="40" Width="4" Rotate="90" Color="lime">
                    <span style="font-size:0.6em;">@item.FormatProgress()</span>
                </MProgressCircular>
            </MListItemAvatar>
        </MListItem>
    }
</MList>
